<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="main-header">
        <div class="main-header-top">
            <div class="logo-search">
                <img src="images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre" class="logo">
                <div class='block-search'>
                    <form action="/buscar" method='GET'>
                        <input type="text" name='busqueda' placeholder='Buscar productos' class='busqueda'>
                        </form>
                </div>
            </div>
            
            <p class="header-subtitle"> 
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito </p>
        </div>

        <div class="main-header-bottom">
            <nav class="main-navbar">
                <ul class="nav-list1">
                    <li> <a href=""> Ofertas </a></li>
                    <li> <a href=""> Tiendas Oficiales </a></li>
                    <li> <a href=""> Vender </a></li>
                    <li> <a href=""> Ayuda </a></li>
                </ul>
                <ul class="nav-list2">
                    <li> <a href="/register"> Creá tu cuenta </a>
                        <i class="far fa-id-card"></i></li>
                    <li> <a href="/login"> Ingresá </a> 
                        <i class="fas fa-sign-in-alt"></i></li>
                    <li> <a href=""> Mis compras </a>
                        <i class="fas fa-shopping-basket"></i></li>
                </ul>
            </nav>
        </div>

        <a href ='#' class="burger-menu">
            <i class="fas fa-bars"></i>
        </a>
    </header>
    
    <main>
        <div class="advertising">
            <img src="/images/img-home-banner.jpg" alt="" width="100%">
        </div>

        <section class="products-container">
            <h3> Basado en tu última visita </h3>
            <div class="flex-products">
                <article class="product">
                    <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera" width="200px">
                    <div class= 'article-desc'>
                        <i class="fas fa-truck"></i>
                        <div class="costdisc">
                            <p class="cost">$6770</p>
                            <p class="discount">40% off</p>
                        </div>
                        <p class="description"><strong> Cafetera Moulinex </strong></p>
                    </div>
                </article>
                <article class="product">
                    <img src="images/img-macbook-pro-2019.jpg" alt="Macbook" width="200px">
                    <div class= 'article-desc'>                    
                        <i class="fas fa-truck"></i>
                        <div class="costdisc">
                            <p class="cost">$230</p>
                            <p class="discount">20% off</p>
                        </div>
                        <p class="description"><strong> MacBook Pro 2019 </strong></p>
                    </div>
                </article>
                <article class="product">
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy s20" width="200px">
                    <div class= 'article-desc'>
                        <i class="fas fa-truck"></i>
                        <div class="costdisc">
                            <p class="cost">$70.500</p>
                            <p class="discount">10% off</p>
                        </div>
                        <p class="description"><strong> Samsung Galaxy S10 </strong></p>
                    </div>
                </article>
                <article class="product">
                    <img src="images/img-tv-samsung-smart.jpg" alt="Televisión" width="200px">
                    <div class= 'article-desc'>
                        <i class="fas fa-truck"></i>
                        <div class="costdisc">
                            <p class="cost">$23.200</p>
                            <p class="discount">5% off</p>
                        </div>
                        <p class="description"><strong> SmartTV Samsung 43" </strong></p>
                    </div>
                </article>
            </div>
        </section>

        <section class="products-container">
            <h3> Sección de Ofertas </h3>

            <div class="flex-products">
                <article class="product">
                    <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera" width="200px">
                    <div class= 'article-desc'>
                        <i class="fas fa-truck"></i>
                        <div class="costdisc">
                            <p class="cost">$6770</p>
                            <p class="discount">40% off</p>
                        </div>
                        <p class="description"><strong> Cafetera Moulinex </strong></p>
                    </div>
                </article>
                <article class="product">
                    <img src="images/img-macbook-pro-2019.jpg" alt="Macbook" width="200px">
                    <div class= 'article-desc'>
                        <i class="fas fa-truck"></i>
                        <div class="costdisc">
                            <p class="cost">$230</p>
                            <p class="discount">20% off</p>
                        </div>
                        <p class="description"><strong> MacBook Pro 2019 </strong></p>
                    </div>
                </article>
                <article class="product">
                    <img src="images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy s20" width="200px">
                    <div class= 'article-desc'>
                        <i class="fas fa-truck"></i>
                        <div class="costdisc">
                            <p class="cost">$70.500</p>
                            <p class="discount">10% off</p>
                        </div>
                        <p class="description"><strong> Samsung Galaxy S10 </strong></p>
                    </div>
                </article>
                <article class="product">
                    <img src="images/img-tv-samsung-smart.jpg" alt="Televisión" width="200px">
                    <div class= 'article-desc'>
                        <i class="fas fa-truck"></i>
                        <div class="costdisc">
                            <p class="cost">$23.200</p>
                            <p class="discount">5% off</p>
                        </div>  
                        <p class="description"><strong> SmartTV Samsung 43" </strong></p>
                    </div>
                </article>
            </div>
        </section>

    </main>

    <footer>
        <section class="top-footer">
            <div class="footer-elements">
                <div class="card">
                    <i class="fas fa-credit-card"></i>
                    <h6>Pagá con tarjeta o en efectivo</h6>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                </div>
                <div class="shipping">
                        <i class="fas fa-gift"></i>
                        <h6>Envío gratis desde $ 2.500</h6>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                </div>
                <div class="security">
                    <i class="fas fa-user-shield"></i>
                    <h6> Seguridad, de principio a fin</h6>
                    <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@. </p>
                </div>
            </div>
        </section>
        <div class="copyrigth">
            <p> Copyright © 1999-2020 MercadoLiebre S.R.L. </p>
        </div>
    </footer>
    
</body>
</html>